#progressBarContainer {
     position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; 
  background: rgb(255, 254, 254); 
  z-index:9999;
}

#progress {
     height: 100%;
  width: 0%; 
  background: #e6ce00; 

}